.logo-grid-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    padding: 0 5px 0 5px;
    align-items: flex-end;
    justify-content: space-evenly;
}

.logo {
    filter: grayscale(100%);
}

.logo:hover {
    filter: none;
    transition: filter 300ms
}

/* Logo Java */
.grid-item-java-logo .logo {
    content:url('/img/java.svg');
    max-height: 50px;
}

/* Logo Spring */
.grid-item-spring-logo .logo {
    content: url('/img/spring.svg');
    max-height: 22px;
}

/* Logo JavaFX */
.grid-item-javafx-logo .logo {
    content:url('/img/javafx.png');
    max-height: 35px;
}

/* Logo C++ */
.grid-item-cpp-logo .logo {
    content:url('/img/cpp.svg');
    max-height: 30px;
}

/* Logo C# */
.grid-item-cs-logo .logo {
    content:url('/img/c-sharp.svg');
    max-height: 33px;
    margin: -2px;
}

/* Logo Docker */
.grid-item-docker-logo .logo {
    content:url('/img/docker.svg');
    max-height: 25px;
}

/* Logo Hibernate */
.grid-item-hbn-logo .logo {
    content:url('/img/hibernate.png');
    max-height: 32px;
}

/* Logo JPA */
.grid-item-jpa-logo .logo {
    content:url('/img/jpa.png');
    max-height: 25px;
}

/* Logo JasperReports */
.grid-item-jasper-logo .logo {
    content:url('/img/jasperreports.png');
    max-height: 25px;
}

/* Logo AWS */
.grid-item-aws-logo .logo {
    content:url('/img/aws.svg');
    min-width: 50px;
}

/* Logo JSF */
.grid-item-jsf-logo .logo {
    content:url('/img/jsf.png');
    max-height: 25px;
}

/* Logo PrimeFaces */
.grid-item-prime-logo .logo {
    content:url('/img/primefaces.png');
    max-height: 30px;
}