@font-face {
    font-family: 'JetBrains Mono';
    src: url('/font/JetBrainsMono-Regular.woff2') format('woff2'),
         url('/font/JetBrainsMono-Regular.woff') format('woff'),
         url('/font/JetBrainsMono-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
}

body {
    background-color: #015060;
}

.side-content {
    font-family: 'Exo 2';
    color: #fff;
}

.side-content h1 {
    font-size: 1.5em;
    font-weight: 200;
    margin: 0;
}

.side-content h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: 100;
    margin: 0 0 5px 0;
}

.side-content h6 {
    color: #fff;
    font-size: 16px;
    margin: 15px 0 15px 0;
    padding-bottom: 5px;
}

.presentation-card {
    margin-bottom: 50px;
}

.personal-picture {
    display: block;
    content: url(/img/me.png);
    filter: grayscale(100%);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 0 auto;
}

.personal-picture:hover {
    filter: none;
}

.personal-info-list {
    font-size: 14px;
}

.personal-info-list li {
    margin-top: 5px;
}

.social-container {
    margin: 20px auto auto 0;
}

.social-linkedin:hover {
    color: #1da0f2;
}

.social-github:hover {
    color: #000;
}

.social-stack-overflow:hover {
    color: #e07f24;
}

.social-twitter:hover {
    color: #1da0f2;
}

.main-content {
    background-color: #2b2b2b;
    font-family: 'JetBrains Mono';
    color: #b7b7b7;
}

.main-content h6 {
    color: #03829b;
    font-size: 1.2em;
    margin: 0 0 20px 0;
    border-bottom: 3px solid #03829b;
    padding-bottom: 5px;
}

.main-content h7 {
    font-size: 1.1em;
    color: #03829b;
    display: block;
}

.main-content h7::after {
    content: "";
    clear: both;
    display: block;
}

.main-content h7 .light-text {
    color: #757575;
}

.right {
    float: right;
}

.main-content p {
    font-size: 15px;
}

.subsection {
    margin-top: 10px;
}

.subsection-item {
    margin-top: 35px;
}

.styless-link {
    color: inherit;
}

.styleless-link:visited {
    color: inherit;
}

.undecorated {
    text-decoration: none;
}
